div.panel.panel-default
  div.panel-heading
    h3.panel-title Dogs List
  div.panel-body
    div.table-responsive
      table.table.table-hover
        thead
          tr
            if isAdmin
              th ID
            th Name
            th Gender
            th Score
        tbody
          for dog in dogs
            tr
              if isAdmin
                td
                  a(href='/dogs/' + dog.id)=dog.id
              td
                a(href='/dogs/' + dog.id)=dog.name
              td
                =dog.gender ? "Male" : "Female"
              td
                =dog.score
