extends ../layout

block content
  div.panel.panel-default
    div.panel-heading
      h3.panel-title Judges List
    div.panel-body
      div.table-responsive
        table.table.table-hover
          thead
            tr
              th ID
              th FullName
          tbody
            for judge in judges
              tr
                td
                  a(href='/judges/' + judge.id)=judge.id
                td
                  a(href='/judges/' + judge.id)=judge.fullname
