extends ../layout

block content
  div.panel.panel-default
    div.panel-heading
      h3.panel-title Judge Profile
    div.panel-body
      div.row
        label.col-md-1 Fullname:
        div.col-md-11
          = judge.fullname
      if isAdmin
        div.row
          label.col-md-1 Note:
          div.col-md-11
            = judge.note
        div.row
          div.col-sm-1
            form.form-horizontal(action='/judges/'+judge.id, method="post")
              input(type="hidden", name="_method", value="delete")
              input.btn.btn-danger(type='submit', value='Delete Judge') 
          div.col-sm-offset-2.col-sm-3
            a.btn.btn-default(href='/judges/'+judge.id+'/edit') 
              | Edit judge Profile
