extends ../layout

block content
  div.panel.panel-default
    div.panel-heading
      h3.panel-title DogShows List
    div.panel-body
      div.table-responsive
        table.table.table-hover
          thead
            tr
              if isAdmin
                th ID
              th Name
              th Date
              th Address
          tbody
            for dog_show in dog_shows
              tr
                if isAdmin
                  td
                    a(href='/dog_shows/' + dog_show.id)=dog_show.id
                td
                  a(href='/dog_shows/' + dog_show.id)=dog_show.name
                td
                  =dog_show.startDate
                td
                  =dog_show.address
