extends ../layout

block content
  div.panel.panel-default
    div.panel-heading
      h3.panel-title Entries List
    div.panel-body
      div.table-responsive
        table.table.table-hover
          thead
            tr
              if isAdmin
                th ID
              th Dog
              th Contest
          tbody
            for entry in entries
              tr
                if isAdmin
                  td
                    a(href='/entries/' + entry.id)=entry.id
                td
                  a(href='/entries/' + entry.id)=entry.dog.name
                td
                  a(href='/contests/' + entry.contest.id)=entry.contest.name
