extends ../layout

block content
  div.panel.panel-default
    div.panel-heading
      h3.panel-title Entry Profile
    div.panel-body
      div.container-fluid
        div.row
          div.col-md-4
            img.img-responsive(
              src=entry.dog.photo
            )
          div.col-md-8
            div.container-fluid
              div.row
                label.col-md-2 Dog Name:
                div.col-md-10
                  a(href='/dogs/' + entry.dog.id)=entry.dog.name
              div.row
                label.col-md-2 Contest Name:
                div.col-md-10
                  a(href='/contests/' + entry.contest.id)=entry.contest.name
              div.row
                label.col-md-2 Note:
                div.col-md-10
                  = entry.note
              if isAdmin
                div.row
                  div.col-sm-1
                    form.form-horizontal(action='/entries/'+entry.id, method="post")
                      input(type="hidden", name="_method", value="delete")
                      input.btn.btn-danger(type='submit', value='Delete Entry') 
                  div.col-sm-offset-2.col-sm-3
                    a.btn.btn-default(href='/entries/'+entry.id+'/edit') 
                      | Edit Entry Profile
  include ./partials/_achievements_list.jade
