extends ../layout

block content
  div.panel.panel-default
    div.panel-heading
      h3.panel-title Breeds List
    div.panel-body
      div.table-responsive
        table.table.table-hover
          thead
            tr
              th ID
              th Name
          tbody
            for breed in breeds
              tr
                td
                  a(href='/breeds/' + breed.id)=breed.id
                td
                  a(href='/breeds/' + breed.id)=breed.name
