extends ../layout

block content
  div.panel.panel-default
    div.panel-heading
      h3.panel-title Breed Details
    div.panel-body
      div.container-fluid
        div.row
          div.col-md-4
            img.img-responsive(
              src=breed.image
            )
          div.col-md-8
            div.container-fluid
              div.row
                label.col-md-1 FCI:
                div.col-md-11
                  = breed.fci
              div.row
                label.col-md-1 Name:
                div.col-md-11
                  = breed.name
              div.row
                label.col-md-1 Section:
                div.col-md-11
                  = breed.section
              div.row
                label.col-md-1 Country:
                div.col-md-11
                  = breed.country
              div.row
                label.col-md-1 URL:
                div.col-md-11
                  a( href=breed.url, target="_blank")
                    =breed.url
              div.row
                label.col-md-1 PDF:
                div.col-md-11
                  a( href=breed.pdf, target="_blank")
                    = breed.pdf
              if isAdmin
                div.row
                  label.col-md-1 Note:
                  div.col-md-11
                    = breed.note
                div.row
                  div.col-sm-1
                    form.form-horizontal(action='/breeds/'+breed.fci, method="post")
                      input(type="hidden", name="_method", value="delete")
                      input.btn.btn-danger(type='submit', value='Delete Breed') 
                  div.col-sm-offset-2.col-sm-3
                    a.btn.btn-default(href='/breeds/'+breed.fci+'/edit') 
                      | Edit Breed
  include ./partials/_dogs_list.jade
