div.panel.panel-default
  div.panel-heading
    h3.panel-title Achievement List
  div.panel-body
    div.table-responsive
      table.table.table-hover
        thead
          tr
            if isAdmin
              th ID
            th Contest
            th Category
            th Rank
        tbody
          for achievement in achievements
            tr
              if isAdmin
                td
                  a(href='/achievements/' + achievement.id)=achievement.id
              td
                a(href='/contests/' + achievement.contest.id)=achievement.contest.name
              td
                =achievement.category
              td
                =achievement.rank
