extends ../layout

block content
  div.panel.panel-default
    div.panel-heading
      h3.panel-title Profile
    div.panel-body
      div.row
        label.col-md-1 Email:
        div.col-md-11
          = admin.account.email
      div.row
        label.col-md-1 Fullname:
        div.col-md-11
          = admin.fullname
      div.row
        label.col-md-1 Note:
        div.col-md-11
          = admin.note
      div.row
        div.col-sm-1
          form.form-horizontal(action='/admins/'+admin.id, method="post")
            input(type="hidden", name="_method", value="delete")
            input.btn.btn-danger(type='submit', value='Delete Admin') 
