div.panel.panel-default
  div.panel-heading
    h3.panel-title Achievement List
  div.panel-body
    div.table-responsive
      table.table.table-hover
        thead
          tr
            if isAdmin
              th ID
            th Category
            th Rank
            th Dog Class
            th Round
            th Score
        tbody
          for achievement in achievements
            tr
              if isAdmin
                td
                  a(href='/achievements/' + achievement.id)=achievement.id
              td
                =achievement.category
              td
                =achievement.rank
              td
                =achievement.dogClass
              td
                =achievement.round
              td
                =achievement.score
